nav {
    background: white;
    text-align: center;
    width: 50%;
    margin: auto}
h1 {
    color: white;
    text-align: center
}
body.index {
    background: purple
}
body.index h1 {
    color: white;
    text-align: center;
}
body.index h2 {
    color: white;
    text-align: center
}
body.index h3 {
    color: white;
    text-align: center;
}
body.index p {
    color: white;
    text-align: left;
}
body.index figure{
 text-align:center;
 
    
}
body.index figure{
border-style:solid;
border-color:black
}
body.resume {
    background: gray;
    font-size: 12px
   
}
h.resume{
    font-size:18px;
    color:white
} 

body.gallery {
    background-color: #1E90FF;
    font-size: 22px;
    color:white
}
section.pictures {
    display: flex;



}
section.pictures img {
    width: 80%;



}
figure.index {
    border-style:solid;
    border-color:black;
    border-width:5px;
    color:white;
    text-align: center;
    width: 60%
}