nav {
    background: violet;
    text-align: center;
    width: 50%;
    margin: auto}
h1 {
    color: white;
    text-align: center
}
body.index {
    background: purple
}
body.index h1 {
    color: white;
    text-align: center;
}
body.index h2 {
    color: white;
    text-align: center
}
body.index h3 {
    color: white;
    text-align: center;
}
body.index p {
    color: white;
    text-align: left;
}
body.index figure{
 text-align:center;
 
    
}
body.index figure{
border-style:solid;
border-color:black
}
body.resume {
    background: navy;
    font-size: 18px;
    color:white
   
}
a.resume{
color:white    
}
time.resume{
 background: navy;
    font-size: 18px;
    color:white;
text-align:right    
}
h1.resume{
font-size:18px;
color: white;
text-align:center
}
h6.resume{
font-size:18px;
color: white
}

body.gallery {
    background-color: #1E90FF;
    font-size: 22px;
    color:white
}
 
section.pictures {
    display: flex;



}
section.pictures img {
    width: 60%;
    border-style:solid;
border-color:white;
    border-width:50px;
    color:black;
    text-align: center


}
figure.index {
    border-style:solid;
    border-color:black;
    border-width:5px;
    color:white;
    text-align: center;
    width: 60%
}
body.myreflection{
background:maroon;
font-size:20px;
color:white
}

body.corpusanalysis{
background:navy;
font-size: 20px;
text-align:center;
Color:white
}
h.heading{
color:white;
font-size: 20px
}
 p.text{ 
 border-style:solid;
    border-color:black;
    border-width:5px;
    color:white;
    width: 90%}
p.text{
text-align:center
}
section.mydata{
width:80%;
height:80%;
text-align:center
}
img.screenshot{
width:60%;
height:60%;
text-align:Center;
border-style:solid;
border-color:black
}
body.gameanalysis{
background-color: #FFCCCC;
Color:black
}
